.StudioPanel{
    padding: 0rem 14rem;
}
@media (max-width:1260px) {
    .StudioPanel{
        padding: 0rem 2rem;
    }
}
@media (max-width:700px) {
    .StudioPanel{
        padding: 0rem 1rem !important;
    }
}
.StudioPanel-status p{
    font-size: 31px;
    font-family: lalezar;
}
.StudioPanel-status img{
    width: 200px;
    cursor: pointer;
}
.your-studio-title{
    font-size: 31px;
    font-family: lalezar;
    text-align: right;
    direction: rtl;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.edit-studio-details-title{
    font-size: 31px;
    font-family: lalezar;
    text-align: right;
    direction: rtl;
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.edit-studio-details main{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    position: relative;
    gap: 110px;
    row-gap: 15px !important;
   

}
.delete-btn{
    padding: .4rem 2rem;
    background-color: #EC4141;
    border-radius:60px;
    font-family: lalezar;
    font-size: 16x;
    color: white;
    margin-bottom: 5rem;
    display: block;
   
    margin-left: auto;
    border: none;
    margin-bottom: 5rem ;
}
.edit-btn{
    padding: .4rem 3rem;
    background-color: #EC4141;
    border-radius:60px;
    font-family: lalezar;
    font-size: 38px;
    color: white;
    margin-bottom: 5rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: none;
    margin-bottom: 5rem ;
}
@media (max-width:900px) {
    .StudioPanel-status{
        text-align: center;
        margin-bottom: 7rem;
    } .edit-btn{
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}
@media (max-width:500px) {
    .your-studio-title,
    .edit-studio-details-title,
    .StudioPanel-status p ,
    .edit-btn{
        font-size: 29px !important;
       
    } 
}

.edit-btn-disabled{
    opacity: .7;
}

.StudioPanel .file-input-parent input{

    cursor: auto !important;
    z-index: 999;
}
.sign-up-studio-span{
    cursor: default;
}
.StudioPanel .sign-up-studio-span {
    right: 55px !important;
    left: 0px !important;
    width: 40px;
}
.StudioPanel .create-studio input:nth-child(3) {
    background-image: url(../images/signup/phone.png) !important;
}


.StudioPanel  .create-studio input:nth-child(4) {
    background-image: url('../images/signup/Group 31.png') !important;
}

.StudioPanel  .create-studio input:nth-child(6) {
    background-image: url('../images/signup/Group 32.png') !important;
}

.StudioPanel .EmailLoading-loader {
    left: 0 !important;
    top: 44% !important;
}