.Studios{
    padding: 0rem 14rem;
}
@media (max-width:1260px) {
    .Studios{
        padding: 0rem 2rem;
    }
}
@media (max-width:700px) {
    .Studios{
        padding: 0rem 1rem !important;
    }
}

.how-find-studio{
    background: linear-gradient(112.88deg, #CD6767 -4.69%, #484848 81.23%);
border-radius: 50px;
width: 100%;
margin-top: 5rem;
padding-bottom: 2rem;
margin-bottom: 4rem;
}

.how-find-studio-title{
    font-size: 50px;
    text-align: center;
    direction: rtl;
    padding-top: 2rem;
    color: white;
    font-family: lalezar;
}
.how-find-studio img{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.how-find-studio-details{
    font-size: 25px;
    font-family: lalezar;
    color: white;
    direction: rtl;
    padding-right: 22%;
}
.studios-cyties,
.studios-type{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
    
}
.how-find-studio section {
    display: flex;
    flex-direction: row-reverse;
    padding: 0rem 6rem;
    justify-content: space-around;
}
.how-find-studio .dropdown-toggle{
    background-color: #D9D9D9 !important;
    color: black !important;
    font-family: lalezar;
    border: none !important;
    box-shadow: none !important;
    width: 195px;
    text-align: right;

    padding: 10px 10%;
    border-radius: 50px;
}
.how-find-studio .dropdown-toggle:hover{
    background-color: #D9D9D9;
    color: black;
}
.how-find-studio .dropdown-toggle:hover,
.how-find-studio .dropdown-toggle:active,
.how-find-studio .dropdown-toggle:focus-visible {
    background-color: #D9D9D9 !important;
    color: black !important;
    border: none !important;
}

.how-find-studio .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    position: absolute;
    top: 16px;
    left: 22px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.how-find-studio .dropdown-toggle::after {

    background-image: url(/public/images/studios/Vector1.png);
    border: none !important;
    background-size: 23px 14px;
    display: inline-block;
    margin-left: 0.255em;
    width: 76px;
    vertical-align: 0.255em;
    height: 45px;
    position: absolute;
    top: 14px;
    left: 22px;
    content: "";
    background-repeat: no-repeat;
}
.how-find-studio  .dropdown-menu{
    inset: 0px 4px auto 0px !important;
    text-align: right;
    font-family: lalezar;
}
.cyties-dropDown .dropdown-menu{
    height: 102px;
    overflow: hidden;
    overflow-y: scroll;
}
.studios-licens{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 2rem;
    align-items: center;
}
@media (max-width:900px) {
    .how-find-studio section {
        flex-direction: column;
        padding: 0rem ;
        justify-content: center;
    }.studios-cyties, .studios-type {
        justify-content: center;
        margin-top: 1rem ;
    }.studios-licens{
        margin-top: 1rem ;
    }.how-find-studio .dropdown-toggle{
        width: 300px;
    }
}

@media (max-width:767px) {
    .how-find-studio-details {
        padding-right: 44px;
    }.how-find-studio-title {
        font-size: 38px;
        padding: 1rem .5rem;
        margin-bottom: 2rem;
    }.how-find-studio .dropdown-toggle{
        width: 195px;
    }.how-find-studio {
        border-radius: 15px !important;
    }
}
@media (max-width:350px) {
    .studios-cyties, .studios-type {
        flex-direction: column;
        margin-top: 2rem ;
    }.studios-licens {
        flex-direction: column;
        margin-top:2rem ;
    }
}

.Studios .EmailLoading-loader {
    left: 0 !important;
    top: 44% !important;
}
.studio_not_found{
display: block;
margin-left: auto;
margin-right: auto;
font-family: vazir;
direction: rtl;
width: max-content;
margin-top: 2rem;
}



.air-section{
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
    height: 250px;
    border-radius: 30px;
    background: linear-gradient(112.88deg, #CD6767 -4.69%, #484848 81.23%);
    overflow: hidden;
  }
  .air-section p{
    position: relative;
    margin-top: 3rem;
    font-family: vazir;
    direction: rtl;
  }
  .air-section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  .air-section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  .air-section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  .air-section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  .air-section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }
  .infinite-scroll-component {
    overflow: unset !important;
  }