.main_header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.main_header section{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.create-studio-btn{
background-color: #FF0000;
color: white;
border: none;
}
.login-btn button{
    background-color: white;
    color: #FF0000;
    transition: all .3s ease;
    border: #FF0000 1px solid;
}
.login-btn button:hover{
    background-color: #FF0000;
color: white;

}
.main_header button{
    border-radius: 30px;
    padding: .5rem 2rem .5rem 2rem;
    font-family: lalezar;
    font-size: 1.2rem;
}
.main_header img{
 height: 114px;
width: 240px;
}

@media (max-width:700px) {
    .main_header{
        flex-direction: column;
    }
    .main_header button{
        width: 100%;
        font-size: 1rem !important;
    }  
    .main_header section {
        width: 100%;
        align-items: baseline;
    }.main_header button {
        padding: 0.5rem 1rem 0.5rem 1rem !important;
    }.login-btn{
        width: 100% !important;
    }.main_header img{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }.main_header a{
        width: 100%;
    }
}