.StudioPage{
    padding: 0rem 14rem;
}
@media (max-width:1260px) {
    .StudioPage{
        padding: 0rem 2rem;
    }
}
@media (max-width:700px) {
    .StudioPage{
        padding: 0rem 1rem !important;
    }
}

.StudioPage-top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: lalezar;
    gap: 50px;
}
.StudioPage-top-section div img{
    width: 38px;
    position: relative;
    top: 9px;
    right: 7px;
}
.StudioPage-top-section img{
    width: 385px;
}
.StudioPage-top-section div {
    text-align: right;
    direction: rtl;
}
.StudioPage-top-section div  div{
    display: flex;
    justify-content: right;
    align-items: baseline;
    font-size: 50px;
}
.StudioPage-top-section p:nth-child(2){
    font-size: 26px;
}
.StudioPage-top-section p:nth-child(3){
    font-size: 26px;
    width: 300px;
}
.studio-details-title{
font-size: 26px;
margin-top: 6rem;
}
.studio-details{
    font-family: lalezar;
    text-align: right;
    direction: rtl;
}
.studio-details main{
    display: grid;
    grid-template-columns: auto auto;
    background: linear-gradient(130.34deg, #D94646 1.64%, #514E4E 93.15%);
border-radius: 60px;
padding:2rem 3rem;
justify-content: space-around;
row-gap: 40px;
}
.studio-details main div{
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
font-size: 26px;
justify-content: right;

}
.studio-details main div p{
    position: relative;
    top: 15px;
}
.studio-details main img{
    width: 60px;
}
@media (max-width:990px) {
    .StudioPage-top-section{
       gap: 10px;
    }
    .StudioPage-top-section img{
        width: 300px;
    }
}
@media (max-width:757px) {
    .StudioPage-top-section{
     flex-direction: column-reverse;
     }.StudioPage-top-section img{
        width:70%;
    }.StudioPage-top-section div {
        text-align: center;
    }.studio-details-title,.studio-image {
        text-align: center !important;
    }.studio-details main {
        grid-template-columns: auto;
       
    }.studio-details main div {
      
         font-size: 19px !important;
    }.studio-details main {
        padding:2rem 1rem;
        border-radius: 12px;
       
    }.studio-details main div p {
        width: 215px;
        text-align: center;
    }   
}

@media (max-width:500px) {
    .studio-details main {
        justify-content: left !important;
    }.studio-image img {
        margin-top: 2rem !important;
    }.StudioPage-top-section div div {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-size: 44px;
    }
}
@media (max-width:400px) {
    .studio-details main div p {
        width:100% !important;
        font-size: 1rem;
        text-align: center;
    }   .studio-details main div{
        gap: 0px !important;
    }
}

.studio-image{
    font-family: lalezar;
    text-align: right;
    font-size: 26px;
    margin-top: 3rem;
}
.studio-image img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    width: 100%;
}