.AboutUs-title,
.AboutUs-title-2{
    font-size: 45px;
    direction: rtl;
}
.AboutUs{
    font-family: lalezar;
    text-align: right;
    position: relative;
    padding-bottom: 1rem;
}
.AboutUs main{
    padding: 0rem 8rem;
}
.AboutUs-text,
.AboutUs-text-mobile{
    font-size: 25px;
    direction: rtl;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.AboutUs-text p:nth-child(1) ,
.AboutUs-text-mobile p:nth-child(1){
    direction: rtl;
}
.AboutUs-text p,
.AboutUs-text-mobile p{
    width:680px;
    margin-bottom: 0px;
}
.AboutUs-text a,
.AboutUs-text-mobile a{
    color: #FF0000;
    text-decoration: none;
}
.AboutUs-text  a:hover,
.AboutUs-text-mobile a:hover{
    color: #FF0000;
}
.AboutUs-main-img{
    position: absolute;
    width: 537px;
    height: 467px;
    left: 123px;
    top: 269px;
}
@media (max-width:1350px) {
    .AboutUs-main-img {
        position: absolute;
        width: 386px;
        height: 374px;
        left: 14px;
        top: 373px;
    }.AboutUs main{
        padding: 0rem 2rem;
    }.AboutUs-text p{
        width: 634px;
    }
}
@media (max-width:1023px) {
    .AboutUs-main-img {
        position:relative;
        top: 0px !important;
        left: 0px !important;
        margin: auto;
    }.AboutUs main{
        display: flex;
        flex-direction: column-reverse;
        padding-bottom: 3rem;
    }.AboutUs-title-2{
        display: block !important;
        
    }.AboutUs-title{
        display: none !important;
    }.AboutUs-text p,
    .AboutUs-text-mobile p{
        width: 100%;
    }.AboutUs-text,
    .AboutUs-text-mobile p {
        font-size: 23px;
    }
}
@media (max-width:767px) {
    .AboutUs-main-img {
     width: 80% !important;  
     object-fit: contain; 
    }.AboutUs main{
        padding: 0rem 1rem !important;
    }
}
@media (max-width:500px) {
    .AboutUs-title-2{
        text-align: center;
    }.AboutUs-main-img {
        width: 100% !important;
        height: 326px;
        margin-top: 2rem;
    }.AboutUs-text-mobile{
        display: block !important;
    }.AboutUs-text{
        display: none;
    }
}
@media (max-width:375px) {
    .AboutUs-text-mobile{
        text-align: center;
    }
}
.AboutUs-text-mobile{
    display: none;
}
.AboutUs-title-2{
    display: none;
}